*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display:flex;
}

.bar-sx{
  flex: 0 0 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.logo1{
  width: 85%;
  height:60px;
}

.container-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
header{
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
 }

button{
border: 2px solid white;
border-radius: 100px;
min-height: 48px;
color: white;
background-color: black;
text-transform: uppercase;
letter-spacing: 1px;
flex-grow:0.05;
}

.container-right1{
  background-color: pink;
  text-align: center;
  padding-left: 10px;

}
.container-right1 li{
  display:inline-block;
  text-transform: uppercase;
  padding-right:10px;
}
