* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "montserrat";
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

aside {
    background-color: black;
    position: fixed;
    left: 0;
    top: 83px;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 217px);
    width: 200px;
    padding: 15px 0;
    z-index: 99;
}

.main-screen {
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 83px;
    width: calc(100% - 200px );
    height: calc(100% - 217px);
    background: rgb(30,215,96);
    background: linear-gradientlinear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(131,210,30,1) 100%);
}

.player {
    height: 134px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 200px;
}

.logo img {
    margin-left: 10px;
    width: 200px;
    height: 100%;
}

button{
     border: 5px solid green;
     border-radius: 100px;
     min-height: 60px;
     color: white;
     background-color: black;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin:5px 5px 0 0;
     cursor: pointer;
     padding: 5px 10px;
     margin-right: 20px;
     margin-top: 20px;
     font-size: 23px;
     font-weight: bolder;
}

button:active{
  color:green;
}

a:active{
  color:green!important;
}

 nav .nav-1 a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav .nav-1 li {
    padding:10px 0px 0 20px;
    cursor: pointer;
}


nav .nav-1 small {
    margin-left: 20px;
}

.playlist {
    margin-top: 25px;
}

.playlist a:first-child li {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.playlist a {
    text-decoration: none;
    color: white;
}

.playlist a li {
    text-transform: capitalize;
    padding:20px 0 0 20px;
    font-size: 20px;
}

.crea-playlist{
  font-size: 17px;
}


.playlist a li i{
    font-size: 35px;
    vertical-align: middle;
}

.playlist a li small {
    margin-left: 10px;
}

.install {
    margin: 220px auto 0 auto;
    width: 80%;
    border-bottom: 1px solid white;
    padding:10px 0;
    font-size: 25px;
    cursor: pointer;
    color:white;
}

.profile{
  margin-top: 5px;
}

.principale {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.principale ul {
    list-style: none;
}

.principale ul a {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.principale ul a li {
    float: left;
    padding: 20px;
    margin-top: 5px;
    color:black;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 0.1px 0.1px grey;
}

.principale ul a li:hover {
    border-bottom: solid 1px black;
    transform: scale(1.1);
}

.corpo {
    width: 90%;
    margin: 0 auto;
}

.corpo h2:first-child{
    margin: 35px 5px;
    color: white;
    letter-spacing: 2px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0.2px 0.2px grey;
}

.corpo .song,
.corpo .album{
    position: relative;
    float: left;
    padding: 20px 35px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    display: none;
    border-radius: 50%;
}

.overlay .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .play-overlay i {
    color: white;
    font-size: 80px;
}

.song:hover .overlay,
.album:hover .overlay{
    display: block;
    cursor: pointer;
}


.song {
    width: calc(100% / 6);
}

.song img {
    border-radius: 50%;
}

.album {
    width: calc(100% / 6);
    overflow: hidden;
}

.album img {
    float: left;
    width: 50%;
    height: 50%;
}

.titolo {
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color:white;
    text-shadow: 0.3px 0.3px grey;
}

.titolo:active{
  color:green;
}

.play-overlay i:active{
  color:green;
}

.img-album {
   display: block;
   width: 100%;
   height: auto;
}


#quadrati {
    width: 100%;
    height: 100%;
}

.player-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.player-left .img-song img {
    height: 100%;
    width: 100px;
}

.play-song {
    padding-left: 10px;
    text-transform: capitalize;
    width: 50px;
    font-size: 27px;
}

.play-song h6:first-child {
    color: white;
    text-shadow: 0.3px, 0.2px grey;
}

.play-song h6:first-child:hover{
  color:green;
}

.play-song h6{
  margin-top: 3px;
    color: lightgrey;
}

.icone-left {
    margin-left: 35px;
    color: white;
    font-size: 30px;
}

.icone-left i:first-child:active{
  color: green;
}

.player-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 1000px;
}

.menu {
    color: white;
    text-align: center;
    width: 500px;
    margin-bottom: 25px;
}

.menu i {
    cursor: pointer;
    margin: 10px;
    font-size: 30px;
}

.row-player {
    text-align: center;
    width: 100%
}

.row-player span {
    padding: 0 15px;
    color: white;
    font-size: 20px;
}

.barra-player{
    display: inline-block;
    background-color: #5a5a5a;
    width: 80%;
    height: 5px;
    margin: 4px 0;
    border-radius: 10px;
}

.linea {
    background-color: #c1c1c1;
    width: 20%;
    height: 5px;
    border-radius: 10px;
}

.play-right {
    display: flex;
    align-items: center;
    flex: 0 0 300px;
}

.play-right i {
    cursor: pointer;
    color: white;
    padding: 0 15px;
    font-size: 25px;
}

.play-right span {
    display: inline-block;
    content: "";
    background-color: #5a5a5a;
    width: 50%;
    height: 5px;
    border-radius: 5px;
}
